<section id="services" class="services section">
        <div class="container text-center">
            <h2 class="title">Services</h2>
            <p class="intro">
                We have following services to make your work easy:-
            </p>
            <div class="service-items row">
                <div class="item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <div class="header-box">
                            <span class="fs1" aria-hidden="true" data-icon="&#xe104;"></span>
                        </div><!--//header-->
                        <div class="desc">
                            <h3 class="sub-title">UX &amp; Front-end</h3>
                            <p>
                                User experience (UX) is all about giving more than what your clients want beyond the checklists of features,
                                considering the way users prefer to interact, and ensuring that they enjoy spending time with the system.
                                Custom web design services in order to improve your web technique along with online marketing.
                            </p>
                        </div>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <div class="header-box">
                            <span class="fs1" aria-hidden="true" data-icon="&#xe0ea;"></span>
                        </div><!--//header-->
                        <div class="desc">
                            <h3 class="sub-title">Back-end &amp; Database</h3>
                            <p>
                                We make very friendly yet strong Database,
                                so that even a person from non -IT background can understand it.
                                We believe software development should not be restricted to only code creation and project delivery.
                                It is inclusive of an accurate comprehension of the client’s requirements and business goals and,
                                on the basis of this comprehension, recommendations of a cost-effective solution with a fine blend of
                                technology.
                            </p>
                        </div>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <div class="header-box">
                            <span class="fs1" aria-hidden="true" data-icon="&#xe003;"></span>
                        </div><!--//header-->
                        <div class="desc">
                            <h3 class="sub-title">Hosting</h3>
                            <p>
                                We won't only help you in making your website, we will even help you in Hosting it on the best server.
                                According to your traffic, we will provide the best plan for hosting for the uninterrupted loading of website.
                            </p>
                        </div>
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <div class="header-box">
                            <span class="fs1" aria-hidden="true" data-icon="&#xe028;"></span>
                        </div><!--//header-->
                        <div class="desc">
                            <h3 class="sub-title">Support</h3>
                            <p>Every site needs a little sprucing up now and then, which is
                                why our website maintenance and retainer program lets us do what we do best,
                                allowing you to enjoy your free time. Our Technical Support teams support, maintain,
                                and enhance your product or platform to augment the end customer experience that is
                                critical for your business.</p>
                        </div>
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section>