{% extends 'base/base.html' %}

{% block header_content %}
    <section class="promo section">
            <div class="container text-center">
                <h2 class="title">Our Work</h2>
{#                <p class="intro">Our approach to lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in leo turpis. Ut ex neque, cursus vulputate facilisis sed, tempor quis ligula.</p>#}
            </div><!--//container-->
        </section><!--//promo-->
{% endblock %}
{% block content %}
    <!-- ******Work list Section****** -->
    <section id="work-list" class="section work-list">
        <div class="container text-center">
            <h2 class="title">Case Studies</h2>

            <div class="items-wrapper isotope row">
                {% for project in projects %}
                <div class="item startup saas col-lg-4 col-md-4 col-sm-6 col-sm-12 ">
                    <div class="item-inner">
                        <figure class="figure">
                            <a href="{{ project.url }}" target="_blank"><img class="img-responsive" src="{{ project.image.url }}" alt="" /></a>
                            <a class="info-mask" href="{{ project.url }}">
                                <span class="desc">{{ project.description }}</span>
                            </a><!--//info-mask-->
                        </figure>
                        <div class="content text-left">
                            <h3 class="sub-title"><a href="{{ project.url }}">{{ project.name }}</a></h3>
                            <div class="meta">
                                {% for cat in project.category.all %}
                                    {{ cat }}
                                    {% if not forloop.last %}
                                        /
                                    {% endif %}

                                    {% endfor %}
                            </div>
                        </div><!--//content-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                {% endfor %}

            </div><!--//items-wrapper-->
        </div><!--//container-fluid-->
    </section><!--//work-list"-->

    <!-- ******Services Section****** -->
    {% include 'service.html' %}

{% endblock %}


